.edit-dish-dialog-action-btn {
    margin-block: 24px;
    display: flex;
    justify-content: space-evenly;
}


.edit-dish-dialog-container {
    margin-block: 16px;
    text-align: right;
    direction: rtl;
}

.edit-dish-dialog {
    direction: rtl;
}

.form-row {
    display: flex;
    justify-content: space-evenly;
    margin-block: 16px;
    flex-flow: wrap;
}

.edit-dish-field {
    width: 40% !important;

    @media screen and (max-width: 400px) {
        width: 80% !important;
        margin-bottom: 16px !important;
    }
}