.image-picker-container {
    height: 250px;
    width: 250px;
    display: flex;
    flex-direction: column;
    background-color: #eee;
    border-radius: 10px;
    padding: 8px;

    @media screen and (max-width: 400px) {
        margin-bottom: 16px;
    }
}


.picker-image {
    height: 80%;
    text-align: center;

    img {
        width: 100%;
        max-height: 100%;
    }
}

.picker-actions {
    height: 20%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.edit-dish-images-picker {
    display: flex;
    justify-content: space-evenly;
    flex-flow: wrap;
    margin-block: 24px;

    @media screen and (max-width: 400px) {
        margin-bottom: 16px;
    }
}