.single-category-page {
    display: flex;
    justify-content: center;
    margin-block: 14px;
}

.single-category-container {
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 50px;
}

.pagination-container {
    background-color: #eee;
    padding: 0px 4px 4px 4px;
    border-radius: 15px;
    position: fixed;
    bottom: 16px;

}