.category-card {
    height: 300px;
    width: 250px;
    display: flex;
    margin-block: 14px;
    margin-inline: 8px;
    padding-bottom: 8px;
    text-align: center;
    flex-direction: column;
    box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    user-select: none;

}

.category-image {
    height: 150px;
}

.category-image img {
    width: 100%;
    height: 150px;
    border-radius: 8px 8px 0px 0px;
}

.category-text {
    display: flex;
    padding: 8px 16px 4px 16px;
    flex-direction: column;
    align-items: flex-end;
    height: 100px
}

.category-title {
    font-size: 20px;
    font-weight: bold;
    color: #114b0b;
}

.category-action-btns {
    display: flex;
    justify-content: space-evenly;
    height: 50px;
}

.category-btn {
    height: 40px;
    width: 40px;
}


.priority {
    font-size: 20px;
}

.dish-count {
    font-size: 20px;
}

.router-link {
    color: rgba(0, 0, 0, 0.8);
    text-decoration: none;

}