.add-dish-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-block: 16px;
}

.add-category-picker-container {
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    margin-block: 26px;
}

.add-category-ids {
    background-color: #ddd;
    margin-block: 8px;

}

.add-dish-details {
    width: 100%;
}

.add-dish-details-section {
    display: flex;
    justify-content: space-evenly;
}