@import '../../global';

.add-dish-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-block: 16px;

    #images-container {
        flex-direction: row-reverse;
    }
}

.add-category-picker-container {
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    margin-block: 26px;
}

.add-category-ids {
    background-color: #ddd;
    margin-block: 8px;

}

.add-dish-details {
    width: 100%;
}

.add-dish-details-section {
    display: flex;
    justify-content: space-evenly;
}

#add-dish-fab {
    position: fixed;
    right: 20px;
    bottom: 60px;
    color: white;
    background-color: $secondaryColor;
}