.layout {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.dashboard {
    display: flex;
}

.main {
    position: relative;
    top: 56px;
    width: 100%;
    margin-inline: 16px;

}